# Template cấu hình môi trường
UNPAYWALL_EMAIL=your_email@domain.com
VNU_OPENATHENS_BASE_URL=https://go.openathens.net/redirector/vnu.edu.vn?url=
VNU_LIBRARY_ID=1100002598002
VNU_LIBRARY_PASSWORD=12345678
APP_HOST=127.0.0.1
APP_PORT=8543
AUTO_OPEN_BROWSER=true
DOWNLOAD_FOLDER=./downloads
